<!--<div style="background-image: url('background.JPG');
    background-size: 100%;
    height: 800px;
    background-repeat: no-repeat;
    margin-top: -40px;
    ">
</div>-->

<!-- Full Page Image Background Carousel Header -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('image/background1.JPG');"></div>
      <div class="carousel-caption">
        <h2><% if user_signed_in? %>
              <a href="/photos#index">Click here</a>
          <%else%>
              <a href="/users/sign_up">Sign up</a>
          <%end%> to see more photos</h2>
      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('image/background2.JPG');"></div>
      <div class="carousel-caption">
        <h2><% if user_signed_in? %>
              <a href="/photos#index">Click here</a>
          <%else%>
              <a href="/users/sign_up">Sign up</a>
          <%end%> to see more photos</h2>
      </div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill" style="background-image:url('image/background3.JPG');"></div>
      <div class="carousel-caption">
        <h2><% if user_signed_in? %>
                <a href="/photos#index">Click here</a>
              <%else%>
                <a href="/users/sign_up">Sign up</a>
              <%end%>
              to see more photos</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>

</div>
<script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
</script>