<%# navigation styled for Bootstrap 4.0 %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div style="text-align: center;float:left;">
      <img style="width:60px" src="/s3logo.png"/>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Society for Social Silliness</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>
  </div>
</nav>
